<p> Welcome, <%= current_user.username %>!</p>

<% if is_admin? %>
  Want to view all <%= link_to "orders", orders_path %> or all
  <%= link_to "users", users_path %>?
<% else %>
  Want to view your <%= link_to "orders", orders_path(current_user) %>
  or your 
  <%= link_to "user information", users_path(current_user) %>?
<% end %>
