<tr class="user" id="<%= dom_id user %>">
  <td>
    <strong>Username:</strong>
    <%= user.username %>
  </td>

  <td>
    <strong>Password:</strong>
    <%= user.password %>
  </td>

  <td>
    <strong>Role:</strong>
    <%= user.role %>
  </td>

  <td>
    <strong>Address:</strong>
    <%= user.address %>
  </td>
