<p style="color: green"><%= notice %></p>

<table>
  <%= render @user %>
  </tr>
</table>

<div><%= button_to "Destroy this user", @user, method: :delete %></div>

<div><%= link_to "Edit this user", edit_user_path(@user) %></div>
<div><%= link_to "Back to users", users_path %></div>
