<tr class="order" id="<%= dom_id order %>">
  <td>
    <strong>User:</strong>
    <%= order.user.username %>
  </td>

  <td>
    <strong>Description:</strong>
    <%= order.description %>
  </td>

  <td>
    <strong>Quantity:</strong>
    <%= order.quantity %>
  </td>

  <td>
    <strong>Total:</strong>
    <%= order.total %>
  </td>

  <td>
    <strong>Order date:</strong>
    <%= order.order_date %>
  </td>
