<p style="color: green"><%= notice %></p>

<table>
<%= render @order %>
  </tr>
</table>

<div><%= button_to "Destroy this order", @order, method: :delete %></div>
<div><%= link_to "Edit this order", edit_order_path(@order) %></div>
<div><%= link_to "Back to orders", orders_path %></div>
